<%- include('parts/top.ejs') %>
  <div class="banner header-text">
    <div class="products">
      <div class="container">
        <!-- <a class="btn btn-primary" href="/addAgricultural">Add Agricultural</a><br /><br /> -->
        <table class="table table-dark">
          <thead>
            <tr>
              <!-- <th scope="col">Document</th> -->
              <th scope="col"><%- t('table.Title') %></th>
              <th scope="col"><%- t('table.Actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% for (let ur of urban) { %>
              <tr>
                <!-- <td>
                  <i class="far fa-file-pdf"></i>
                  <%= ur.Doc %>
                </td> -->
                <td>
                  <%= ur.Doc.originalname %>
                </td>
                <td>
                  <a class="btn btn-primary" type="submit" href="/GererUrban/download/<%= ur._id %>"><%-
                      t('table.Download') %></a>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
        <!--Section: Contact v.2-->
        <section class="mb-4">
          <!--Section heading-->
          <h2 class="h1-responsive font-weight-bold text-center my-4"><%- t('contact.title') %></h2>
          <!--Section description-->
          <p class="text-center w-responsive mx-auto mb-5"><%- t('contact.text') %></p>
          <div class="row">
            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
              <form id="contact-form" name="contact-form" action="/sendEmail" method="POST">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="name" name="name" class="form-control">
                      <label for="name" class=""><%- t('contact.name') %></label>
                    </div>
                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="email" name="email" class="form-control">
                      <label for="email" class=""><%- t('contact.email') %></label>
                    </div>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <input type="text" id="subject" name="subject" class="form-control">
                      <label for="subject" class=""><%- t('contact.subject') %></label>
                    </div>
                  </div>
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-12">
                    <div class="md-form">
                      <textarea type="text" id="message" name="message" rows="2"
                        class="form-control md-textarea"></textarea>
                      <label for="message"><%- t('contact.message') %></label>
                    </div>
                  </div>
                </div>
                <!--Grid row-->
                <div class="text-center text-md-left">
                  <button type="submit" class="btn btn-primary"><%- t('contact.button') %></button>
                </div><br />
            </div>
            </form>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 text-center">
              <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                  <p>Ouled Ezzedine, Kerkennah, Sfax, Tunis</p>
                </li>
                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                  <p>+ 216 27 222 396</p>
                  <p>+ 216 21 163 105</p>
                </li>
                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                  <p>Consultations01@gmail.com</p>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
        </section>
        <!--Section: Contact v.2-->
      </div>
    </div>
  </div>

  <%- include('parts/bottom.ejs') %>